body {
  font-size: 20px;
}

.contenedorTarjetas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 15px;
}

.contenedorTarjetas .tarjeta {
  color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #242222;
          box-shadow: 5px 5px 15px 5px #242222;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.contenedorTarjetas .tarjeta:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.integrantes {
  color: #fff;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
}

.integrantes .integrante {
  width: 400px;
  height: 200px;
  margin: 10px;
}

@media (min-width: 768px) {
  .integrantes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

form {
  width: 450px;
  margin: auto;
  color: white;
  background-color: rgba(94, 92, 92, 0.705);
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 8px;
}

form h2 {
  text-align: center;
  padding: 5px;
  font-size: 40px;
}

form input, form textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  border-radius: 5px;
}

form textarea {
  min-height: 200px;
  max-height: 300px;
}

form .estadoCivil select {
  border: 0;
  border-radius: 5px;
  margin-left: 5px;
}

form .mujer, form .hombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

form .mujer input, form .hombre input {
  width: auto;
  margin-left: 10px;
}

form .recibirInformacion input {
  width: auto;
  margin-left: 10px;
}

form .limpiarEnviar input {
  background-color: #252427;
  color: white;
  border: 0;
  border-radius: 5px;
  margin-bottom: 10px;
}

form .limpiarEnviar input:hover {
  color: brown;
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }
}

.logo {
  color: brown;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.logo:hover {
  color: rgba(211, 53, 53, 0.911);
}

h2 {
  color: brown;
}

footer a {
  color: brown;
}

footer a:hover {
  color: rgba(211, 53, 53, 0.911);
}

.titulo-video {
  color: brown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

.cont-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}
/*# sourceMappingURL=style.css.map */