.titulo-video{
    color: brown;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.cont-video{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin: 20px;
}
